/* HTML: <div class="loader"></div> */
@import '../../styles/main.scss';


.loaderContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.logo{
    width:64px;
    height: 64px;
}
// .loader {
//     --c:no-repeat linear-gradient(#E4C139 0 0);
//     background: 
//       var(--c),var(--c),var(--c),
//       var(--c),var(--c),var(--c),
//       var(--c),var(--c),var(--c);
//     background-size: 16px 16px;
//     animation: 
//       l32-1 1s infinite,
//       l32-2 1s infinite;
//   }
//   @keyframes l32-1 {
//     0%,100% {width:45px;height: 45px}
//     35%,65% {width:65px;height: 65px}
//   }
//   @keyframes l32-2 {
//     0%,40%  {background-position: 0 0,0 50%, 0 100%,50% 100%,100% 100%,100% 50%,100% 0,50% 0,  50% 50% }
//     60%,100%{background-position: 0 50%, 0 100%,50% 100%,100% 100%,100% 50%,100% 0,50% 0,0 0,  50% 50% }
//   }

  /* HTML: <div class="loader"></div> */
.loader {
    width: 120px;
    height: 60px;
    border-radius: 200px 200px 0 0;
    -webkit-mask: repeating-radial-gradient(farthest-side at bottom ,#0000 0,#000 1px 12%,#0000 calc(12% + 1px) 20%);
    background:
     radial-gradient(farthest-side at bottom,#E4C139 0 95%,#0000 0) bottom/0% 0% no-repeat
     #E4C13944;
    animation: l10 2s infinite steps(6);
  }
  @keyframes l10 {
      100% {background-size:120% 120%}
  }